<!doctype html>
<html>
<head>
    {% load static %}
    <title>Xterm</title>
    <link rel="stylesheet" href="{% static 'plugins/xterm/css/xterm.css' %}"/>
    <script src="{% static 'plugins/xterm/lib/xterm.js' %}"></script>
    <script src="{% static 'plugins/xterm-addon-attach/lib/xterm-addon-attach.js' %}"></script>
    <script src="{% static 'plugins/xterm-addon-fit/lib/xterm-addon-fit.js' %}"></script>
    <script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/fine-uploader/all.fine-uploader.js' %}"></script>
    <script src="{% static 'plugins/nora-zmodem/zmodem.devel.js' %}"></script>
    <script src="{% static 'plugins/bootbox/bootbox.all.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'plugins/fine-uploader/fine-uploader-new.css' %}"/>
    <link rel="stylesheet" href="{% static 'plugins/sweetalert2/sweetalert2.css' %}"/>
    <script src="{% static 'plugins/sweetalert2/sweetalert2.all.js' %}"></script>
    <script src="{% static 'js/watermark.js' %}"></script>
</head>
<body>
<div id="terminal"></div>
<script src="{% static 'js/terminal/custom_telnet.js' %}"></script>
<script>
    var session_id = "{{ session_id }}";
</script>
</body>
</html>
