<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <!-- <link href="https://cdn.bootcdn.net/ajax/libs/asciinema-player/2.6.1/asciinema-player.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/asciinema-player/css/asciinema-player.css' %}" />
    <title>Title</title>
</head>
<body>
    <asciinema-player src="{{ video_path }}"></asciinema-player>
    <!--  <script src="https://cdn.bootcdn.net/ajax/libs/asciinema-player/2.6.1/asciinema-player.min.js"></script> -->
    <script src="{% static 'plugins/asciinema-player/js/asciinema-player.js' %}"></script>
</body>
</html>